<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <title>Forgot</title>
</head>
<body>
    <div id="forgot-image"><img src="../static/imgs/signup.png" alt="singup"/></div>

    <div id="forgot-white">
        <div id="forgot-email">
            <input id="forgot-textbox" type="text" id="email" name="email" placeholder="Enter Email..">
        </div>

        <div id="forgot-buttons">
            <button class="button" id="forgot-button" type="button">Reset Password</button>
        </div>

        <p id="forgot-select">You will be sent an email with instructions to reset your password</p>
    </div>

</body>
</html>