<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <title>Home</title>
</head>
<body>

    <div id="homepage-image"><img src="../static/imgs/gpass.png" alt="gpass"/></div>

    <div id="homepage-white">
        <div id="homepage-buttons">
            <button class="button" id="homepage-button" type="button">Login</button> </br>
            <button class="button" id="homepage-button" type="button">Sign-Up</button>
        </div>
    </div>

</body>
</html>