<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <title>Login</title>
</head>
<body>

    <div id="login1-image"><img src="../static/imgs/login.png" alt="login"/></div>

    <div id="login1-white">
        <div id="login1-email">
            <input id="login1-textbox" type="text" id="email" name="email" placeholder="Enter Email..">
        </div>

        <div id="login1-buttons">
            <button class="button" id="login1-button" type="button">Enter</button>
        </div>
    </div>


</body>
</html>