<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <title>Signup</title>
</head>
<body>
    <div id="signup3-image"><img src="../static/imgs/signup.png" alt="singup"/></div>

    <div id="signup3-white">
        <p id="signup3-select">Re-enter your password</p>

        <div id="signup3-images">
            <input class="signup3-buttons" type="image" src="../static/imgs/fox.png"/>
            <input class="signup3-buttons" type="image" src="../static/imgs/cat.png"/>
            <input class="signup3-buttons" type="image" src="../static/imgs/lion.png"/>
            <input class="signup3-buttons" type="image" src="../static/imgs/frog.png"/>
            <input class="signup3-buttons" type="image" src="../static/imgs/rabbit.png"/>
            <input class="signup3-buttons" type="image" src="../static/imgs/giraffe.png"/>
            <input class="signup3-buttons" type="image" src="../static/imgs/monkey.png"/>
            <input class="signup3-buttons" type="image" src="../static/imgs/horse.png"/>
            <input class="signup3-buttons" type="image" src="../static/imgs/penguin.png"/>
        </div>

        <div id="signup3-confirm">
            <button class="button" id="signup3-confirmbtn" type="button">Confirm</button>
        </div>

    </div>
</body>
</html>