<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <title>Signup</title>
</head>
<body>
    <div id="signup2-image"><img src="../static/imgs/signup.png" alt="singup"/></div>

    <div id="signup2-white">
        <p id="signup2-select">Select four images in order to be your password</p>

        <div id="signup2-images">
            <input class="signup2-buttons" type="image" src="../static/imgs/cat.png"/>
            <input class="signup2-buttons" type="image" src="../static/imgs/fox.png"/>
            <input class="signup2-buttons" type="image" src="../static/imgs/frog.png"/>
            <input class="signup2-buttons" type="image" src="../static/imgs/giraffe.png"/>
            <input class="signup2-buttons" type="image" src="../static/imgs/horse.png"/>
            <input class="signup2-buttons" type="image" src="../static/imgs/lion.png"/>
            <input class="signup2-buttons" type="image" src="../static/imgs/monkey.png"/>
            <input class="signup2-buttons" type="image" src="../static/imgs/penguin.png"/>
            <input class="signup2-buttons" type="image" src="../static/imgs/rabbit.png"/>
        </div>

        <div id="signup2-confirm">
            <button class="button" id="signup2-confirmbtn" type="button">Confirm</button>
        </div>

        <div id="signup2-refresh">
            <button class="button" id="signup2-refreshbtn" type="button">Refresh images</button>
        </div>

    </div>

</body>
</html>